.information {
  position: relative;
  display: flex;
  width: 1073px;
  height: 163px;
  margin: -54.82px auto 0;
  padding: 19.63px 24px 0;
  background-color: white;
  border-radius: 0.75em;
}

.information__avatar {
  margin-top: -90px;
}

.information__wrapper {
  display: grid;
  grid-template-columns: auto auto 1fr 1fr;
  max-height: 30px;
  margin-left: 20.31px;
  align-items: center;
  column-gap: 25px;
  width: 100%;
  align-items: baseline;
}

.information__user-name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
  color: #333333;
}

.information__user-following,
.information__user-followers {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.035em;
  color: #828282;
  flex-wrap: nowrap;
}

.information__user-description {
  grid-column-start: 1;
  grid-column-end: 4;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.035em;
  color: #828282;
  word-wrap: break-word;
  content-visibility: auto;
  max-height: 75px;
  overflow-y: scroll;
}

.button__follow {
  justify-self: flex-end;
}
