<div class="repost__info" *ngIf="recordParentAuthor"><mat-icon>loop</mat-icon><span>{{ user ? user.username : '' }}
    Retweeted</span>
</div>
<div class="tweet__wrapper" *ngIf="user">
  <div class="tweet__user-info">
    <app-avatar class="tweet__user-avatar" [size]="avatarSize" [name]="tweetUserName"
      (click)="navigateToUserPage()"></app-avatar>
    <p class="tweet__user-name">{{ tweetUserName }}</p>
    <p class="tweet__created-date">{{ dateString }}</p>
  </div>
  <div *ngIf="tweet.text" class="tweet__text">
    <p>{{ tweet.text }}</p>
  </div>
  <div *ngIf="tweet.imagesURLs?.length" class="tweet__image-wrapper">
    <img *ngFor="let image of tweet?.imagesURLs; trackBy: trackByFn" class="tweet__image" [src]="image"
      alt="User Image">
  </div>
  <div class="tweet__info">
    <p>{{ usersLikedTweet.length }} likes</p>
    <p>{{ usersRepostedTweet.length }} retweet</p>
    <p>{{ usersSavedTweet.length }} saved</p>
  </div>
  <div class="tweet__buttons">
    <app-button class="tweet__button" [appearance]="buttonAppearance" [size]="buttonSize" [text]="buttonNames[0].active"
      [textColor]="addStyle([], activeButtonRepostStyle)" [disabled]="true" [icon]="buttonNames[0].icon"></app-button>
    <app-button class=" tweet__button" [appearance]="buttonAppearance" [size]="buttonSize"
      [textColor]="addStyle(usersRepostedTweet, activeButtonRepostStyle)"
      [text]="usersRepostedTweet.includes(authUser._id) ? buttonNames[1].active : buttonNames[1].unactive"
      [disabled]="usersRepostedTweet.includes(authUser._id) || this.tweet.authorId === authUser._id"
      [icon]="buttonNames[1].icon" (click)="repost()"></app-button>
    <app-button class="tweet__button" [appearance]="buttonAppearance" [size]="buttonSize"
      [textColor]="addStyle(usersLikedTweet, activeButtonLikeStyle)"
      [text]="usersLikedTweet.includes(authUser._id) ? buttonNames[2].active : buttonNames[2].unactive"
      [icon]="buttonNames[2].icon" (click)="likeHandler()"></app-button>
    <app-button class="tweet__button" [appearance]="buttonAppearance" [size]="buttonSize"
      [textColor]="addStyle(usersSavedTweet, activeButtonSaveStyle)"
      [text]="usersSavedTweet.includes(authUser._id) ? buttonNames[3].active : buttonNames[3].unactive"
      [icon]="buttonNames[3].icon" (click)="saveHandler()"></app-button>
  </div>
</div>
