<header>
  <div class="wrapper">
    <div class="logo-container">
      <!-- <img class="logo-image" src="../../assets/tweeter-log.svg" alt="Logo"> -->
      <p class="logo-text">Tweeter</p>
    </div>
    <div class="navigation-container">
      <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        <a mat-tab-link *ngFor="let tab of tabs; trackBy: trackByFn" (click)="activeTab = tab.name"
          [active]="activeTab == tab.name" (click)="clickTabHandler(tab.route)"> {{tab.name}}
        </a>
      </nav>
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    </div>
    <div class="avatar-container" *ngIf="user">
      <app-avatar [name]="user.username"></app-avatar>
      <p>{{ user.username }}</p>
      <mat-icon [matMenuTriggerFor]="menu">arrow_drop_down</mat-icon>
      <mat-menu class="avatar__menu" #menu="matMenu">
        <button *ngFor="let button of menuBattons; trackBy: trackByFn" (click)="clickMenuHandler(button.buttonText)"
          mat-menu-item><mat-icon>{{ button.icon
            }}</mat-icon>{{ button.buttonText }}</button>
      </mat-menu>
    </div>
  </div>
</header>
