<div class="container">
  <div class="form__wrapper">
    <mat-card>
      <mat-card-title>Sign Up Verify</mat-card-title>
      <mat-card-content>
        <p class="form__message">A verification code has been sent to your email address</p>
        <form [formGroup]="signUpVerifyForm" (ngSubmit)="signUpVerify()">
          <mat-form-field>
            <mat-label>Verification Code</mat-label>
            <input type="text" matInput placeholder="1234567" [formControlName]="formControls.emailCode">
            <mat-error *ngIf="emailCode.hasError('required')">
              Verification code is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <div class="button">
            <button mat-raised-button color="primary" type="submit" [disabled]="!signUpVerifyForm.valid">Verify</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
