* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #333333;
  background-color: #f2f2f2;
}

a:link,
a:visited {
  color: #3f51b5;
}
